/*
Error: Undefined variable: "$border-style".
        on line 26 of D:\Oasis_Dashboard\assets\sass\other.scss

21:     width: 18px;
22:     height: 18px;
23: }
24: 
25: .demo-code-preview {
26:     border: $border-style;
27:     padding: 20px 10px;
28:     margin-top: 2rem;
29:     position: relative;
30:     background-color: white;
31:     border-radius: 8px;

Backtrace:
D:\Oasis_Dashboard\assets\sass\other.scss:26
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
J:/Set-up/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
J:/Set-up/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
J:/Set-up/bin/sass:22:in `load'
J:/Set-up/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$border-style\".\A         on line 26 of D:\Oasis_Dashboard\assets\sass\other.scss\A \A 21:     width: 18px;\A 22:     height: 18px;\A 23: }\A 24: \A 25: .demo-code-preview {\A 26:     border: $border-style;\A 27:     padding: 20px 10px;\A 28:     margin-top: 2rem;\A 29:     position: relative;\A 30:     background-color: white;\A 31:     border-radius: 8px;"; }
